extends layout

block content
  header 
    h2= title
    div(id='div') Welcome to #{title}!
  h2 Messages
  ul 
    each message in messages 
      li 
        p(id='first') #{message.name}
        p #{message.message}
        p(id='date') #{message.date}
  a(href="/new") Add message
