extends layout

block content
  h1= title
  div Welcome to #{title}
  h2 Messages
  ul 
    each message in messages 
      li 
        p #{message.name}
        p #{message.message}
        p #{message.date}
  a(href="/new") Add message
